[submodule "input/VulkanMemoryAllocator"]
	path = input/VulkanMemoryAllocator
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator
	branch = v3.0.1
[submodule "script/premake"]
	path = script/premake
	url = https://github.com/cvelth/misc_premake
[submodule "third_party"]
	path = third_party
	url = https://github.com/cvelth/third_party
[submodule "input/vkma_bindings"]
	path = input/vkma_bindings
	url = https://github.com/Cvelth/vkma_bindings
[submodule "input/Vulkan-Headers"]
	path = input/Vulkan-Headers
	url = https://github.com/KhronosGroup/Vulkan-Headers
	branch = v1.2.166
